# Repository
REPOSITORY_KIND=azure
AZURE_TABLES_CONNECTION_STRING=
AZURE_TABLES_PREFIX=Fridge

# OCR
OCR_API_KEY=
OCR_API_URL=https://ocr.space
OCR_ENGINE=1
OCR_LANGUAGE=kor

# Web Push
WEB_PUSH_VAPID_PRIVATE_KEY=
WEB_PUSH_VAPID_SUBJECT=mailto:you@example.com
